<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Персональные данные</title>
</head>
<body>
    <h2>Персональные данные</h2>
    <p>
        Id:                         @ViewBag.Id<br />
        ФИО:                        @ViewBag.Name<br />
        Дата рождения:              @ViewBag.Date_Birth<br />
        Пол:                        @ViewBag.gender<br />
        Телефон:                    @ViewBag.Telephone<br />
        Наличие работы:             @ViewBag.Work <br />
    </p>
</body>
</html>